body {
  text-align: center;
  background: #232323;
}

.input {
  margin-top: 2%;
  margin-bottom: 2%;
}

h1,
h2,
h3 {
  color: steelblue;
}

.container-fluid {
  padding: .5%;
  max-height: 50em;
  min-height: 40em;
  max-width: 45%;
  min-width: 45%;
  margin-bottom: 20%;
}

#graphic {
  width: 20%;
  margin-top: -0.5em;
}
