html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

.ui.container {
    /*height: 100%;*/
    min-height: 100%;
    width: 100% !important;
}

.main {
  width: 100% !important;
  height: 100%;
    top:0;
    padding: 20px;
    position: absolute;
    background: -webkit-linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/blurycode.jpg');
    background: -o-linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/blurycode.jpg');
    background: linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/blurycode.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: url("assets/screens.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panels {
    padding: 20px;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 1000;
}

.projects {
    /*color: ghostwhite;*/
    margin-top: 100%;
    padding: 20px;
    background: url("https://hd.unsplash.com/photo-1467663802424-21ff675548c4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.projects2 {
    padding: 20px;
    background: url("https://hd.unsplash.com/photo-1453928582365-b6ad33cbcf64");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.projects3 {
    padding: 20px;
    background: url("https://hd.unsplash.com/photo-1416339684178-3a239570f315");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}



.about {
    text-align: center
}

.me {
    width: 100px;
}

.welcome,
.my,
.here {
    margin: auto;
    text-align: center;
    /*display: none;*/
}

.blue {
    color: cornflowerblue;
}

.white {
    color: white;
}

h1,
.blue {
    font-size: 45px;
}


.top {
  margin-top: 10px;

}

#down {
    margin-top: 80px;
    font-size: 30px;
}

.buttons {
    margin: 20px auto;
    text-align: center;
}


/*.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}*/

.raised {
    background: ghostwhite;
}

.link:hover,
 :visited,
 :active,
 :link {
    color: inherit;
}

.logos {
    text-align: center;
}

.logos>* {
    margin-left: 10px;
}

.html5 {
    width: 55px;
}

.css3 {
    width: 40px;
}

.js {
    width: 45px;
    margin-top: 5px;
}

.node {
    width: 45px;
}

.meteor {
    width: 70px;
    margin-right: 10px;
}

footer {
    text-align: center;
    background: #2c3e50;
}

.glyphs.icon:nth-child(2n-1) {
    color: white;
    font-size: 2em;
    margin-right: 1%;
}

.glyphs.icon:nth-child(2n) {
    color: white;
    font-size: 1em;
    margin-right: 1%;
}

span .fa {
    font-size: 1em;
    font-weight: bold;
}

.sig {
    color: white;
    float: left;
}

span.name {
    font-family: cursive;
}

.ui.circular.freecodecamp.icon.button {
  background: #006400;
  color:white;
}

.ui.circular.github.icon.button, .ui.circular.codepen.icon.button {
  background: black;
  color:white;
}
