* {
  border: 1px solid blue;
}
.splash-container{
  background-color: black;
  height: 88%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  margin: auto;
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
}

.my-img {
  border-radius: 50%;
  width: 100px;
}

.welcome, .my, .here, .me {
  margin: auto;
  text-align: center;
}

h1 {
  color: blue;
  font-size: 30px;
}

.arrow {
  text-decoration: none;
}
