/*html,body {
    padding:0;
    margin:0;
    background:black;
}*/

#wrapper {
    position:absolute;
    height:100%;
    width:100%;

}

.panels {
    position:relative;
    height:100%;
    min-height:100%;
    width:100%;
    z-index:1000;
}

#a{
    background: -webkit-linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/head-silhouette-binary-code-22480729.jpg');
    background: -o-linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/head-silhouette-binary-code-22480729.jpg');
    background: linear-gradient(rgba(20, 20, 20, 1), rgba(20, 20, 20, .9)), url('assets/head-silhouette-binary-code-22480729.jpg');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    position:fixed;
    top:0;
    z-index:-99;
}

#b{
   margin-top:100%;
   background:white;
   text-align: center;
}

#c{
   background:pink;
}

#d{
   background:green;
}

.me {
    border-radius: 50%;
    width: 100px;
    margin: auto;
}

.welcome,
.my,
.here {
    margin: auto;
    text-align: center;
    display: none;
}

h1 {
    color: blue;
    font-size: 45px;
}

.arrow {
    text-decoration: none;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.arrow-button {
  font-size: 100px;
}

.buttons {
   margin: 10px auto;
   text-align: center;
   display: none;
}
